* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 10vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.icon {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.link-back {
    padding-right: 30px;
}

.button-title{
    padding-top: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
}
.titulo{
    color: #ffff;
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.click{
    background: rgba(217, 217, 217, 0.22);
    display: flex;
    align-items: center;
    justify-content:center ;
    width: auto;
    height: auto;
    color: #ffff;
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    height: auto;
    width: auto;
}


main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1B140D;
}